In [44]:
import os
print(os.getcwd()) # To check the current working directory

D:\edureka\elevate_lab\task1

In [46]:
os.chdir("D:\\edureka\\elevate_lab\\task1") # change directory by using double backslashes
print("Current Directory:",os.getcwd())  # Verify the change

Current Directory: D:\edureka\elevate_lab\task1

 ##### above code is used si that all files can be located at on folder and can be upload easily

 # Data Cleaning and Preprocessing

### Step 1: Load the dataset

In [50]:
import pandas as pd
# load data set
df = pd.read_csv('healthcare_noshows_appt.csv')

In [52]:
# Display first few rows
df.head(5)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Showed_up,Date.diff
0,2.987250e+13,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,False,True,False,False,False,False,True,0
1,5.589978e+14,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,False,False,False,False,False,True,0
2,4.262962e+12,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,False,False,False,False,False,False,True,0
3,8.679512e+11,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,False,False,False,False,False,False,True,0
4,8.841186e+12,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,False,True,True,False,False,False,True,0

### Step 2: Understand the  (Explore the Data (EDA)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
dtypes: object(16)
memory usage: 183.3+ KB

In [55]:
df.describe()

          PatientId  AppointmentID            Age      Date.diff
count  1.069870e+05   1.069870e+05  106987.000000  106987.000000
mean   1.472814e+14   5.675434e+06      38.316085      10.166721
std    2.558267e+14   7.133274e+04      22.466214      15.263508
min    3.921784e+04   5.030230e+06       1.000000      -6.000000
25%    4.173523e+12   5.640490e+06      19.000000       0.000000
50%    3.172463e+13   5.680744e+06      38.000000       4.000000
75%    9.433600e+13   5.725634e+06      56.000000      14.000000
max    9.999816e+14   5.790484e+06     115.000000     179.000000

In [57]:
df.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'Showed_up',
       'Date.diff'],
      dtype='object')

In [62]:
print("dataset shape:", df.shape)

dataset shape: (106987, 15)

In [82]:
df.dtypes

PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship          bool
Hipertension         bool
Diabetes             bool
Alcoholism           bool
Handcap              bool
SMS_received         bool
Showed_up            bool
Date.diff           int64
dtype: object

# Identify and Handle Missing Values

In [65]:
# Check missing values
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
Showed_up         0
Date.diff         0
dtype: int64

### dataset has no missing values

### Check for Duplicate Rows

In [71]:
df.duplicated(). sum()

0

### No duplicate rows found.

# Standardize Text Values

In [75]:
# Check unique values in 'Gender' column to ensure consistency
df['Gender'].unique()

array(['F', 'M'], dtype=object)

### No further cleaning needed for this column.
As Gender column is already clean and standardized

In [78]:
df['Neighbourhood'].unique()

array(['JARDIM DA PENHA', 'MATA DA PRAIA', 'PONTAL DE CAMBURI',
       'REPÚBLICA', 'GOIABEIRAS', 'ANDORINHAS', 'CONQUISTA',
       'NOVA PALESTINA', 'DA PENHA', 'TABUAZEIRO', 'BENTO FERREIRA',
       'SÃO PEDRO', 'SANTA MARTHA', 'SÃO CRISTÓVÃO', 'MARUÍPE',
       'GRANDE VITÓRIA', 'SANTO ANDRÉ', 'SOLON BORGES', 'BONFIM',
       'JARDIM CAMBURI', 'MARIA ORTIZ', 'JABOUR', 'ANTÔNIO HONÓRIO',
       'RESISTÊNCIA', 'ILHA DE SANTA MARIA', 'JUCUTUQUARA',
       'MÁRIO CYPRESTE', 'SANTO ANTÔNIO', 'BELA VISTA', 'PRAIA DO SUÁ',
       'SANTA HELENA', 'ITARARÉ', 'INHANGUETÁ', 'UNIVERSITÁRIO',
       'SÃO JOSÉ', 'REDENÇÃO', 'SANTA CLARA', 'CENTRO', 'PARQUE MOSCOSO',
       'DO MOSCOSO', 'SANTOS DUMONT', 'CARATOÍRA', 'ARIOVALDO FAVALESSA',
       'ILHA DO FRADE', 'GURIGICA', 'JOANA D´ARC', 'CONSOLAÇÃO',
       'SÃO BENEDITO', 'PRAIA DO CANTO', 'BOA VISTA', 'SANTA LÚCIA',
       'BARRO VERMELHO', 'ESTRELINHA', 'FORTE SÃO JOÃO', 'FONTE GRANDE',
       'MORADA DE CAMBURI', 'ENSEADA DO SUÁ', 'SANTOS REIS', 'PIEDADE',
       'JESUS DE NAZARETH', 'SANTA LUÍZA', 'SANTA TEREZA', 'CRUZAMENTO',
       'ILHA DO PRÍNCIPE', 'ROMÃO', 'ILHA DAS CAIEIRAS', 'COMDUSA',
       'SANTA CECÍLIA', 'VILA RUBIM', 'DE LOURDES', 'MONTE BELO',
       'DO QUADRO', 'DO CABRAL', 'HORTO', 'SEGURANÇA DO LAR',
       'ILHA DO BOI', 'FRADINHOS', 'NAZARETH', 'AEROPORTO',
       'ILHAS OCEÂNICAS DE TRINDADE', 'PARQUE INDUSTRIAL'], dtype=object)

### All values are uppercase and consistent.
No major inconsistencies like spelling errors, extra spaces, or casing issues.

# Convert Date Columns to Consistent Date Format

# Rename column headers to be clean and uniform

In [113]:
# Removes any leading/trailing spaces in column names.
df.columns = df.columns.str.strip()
print (df.columns)

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'showed_up',
       'datediff'],
      dtype='object')

In [115]:
# Converts all column names to lowercase 
df.columns = df.columns.str.lower()
print (df.columns)

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'showed_up',
       'datediff'],
      dtype='object')

In [117]:
# Replaces spaces in column names with underscores
df.columns = df.columns.str.replace(' ', '_')
print (df.columns)

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'showed_up',
       'datediff'],
      dtype='object')

In [119]:
# Removes dots (periods) from column names
df.columns = df.columns.str.replace('.', '', regex=False)
print(df.columns)

Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'showed_up',
       'datediff'],
      dtype='object')

## Now column names are: 
Clean (no spaces or punctuation),

Consistent (all lowercase),

Python-friendly (can be used easily in code).

#### ScheduledDay, AppointmentDay are stored as text for now. We’ll convert them to proper datetime format so we can calculate differences,
filter by date, etc.

In [125]:
# Convert date columns to datetime
# Convert date columns to datetime using lowercase column names
df['scheduledday'] = pd.to_datetime(df['scheduledday'])
df['appointmentday'] = pd.to_datetime(df['appointmentday'])

In [127]:
# Check data types again to confirm correctness
df.dtypes

patientid                float64
appointmentid              int64
gender                    object
scheduledday      datetime64[ns]
appointmentday    datetime64[ns]
age                        int64
neighbourhood             object
scholarship                 bool
hipertension                bool
diabetes                    bool
alcoholism                  bool
handcap                     bool
sms_received                bool
showed_up                   bool
datediff                   int64
dtype: object

# Summary

In [130]:
## 1. Get a concise summary of the DataFrame: columns, non-null counts, and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106987 entries, 0 to 106986
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   patientid       106987 non-null  float64
 1   appointmentid   106987 non-null  int64
 2   gender          106987 non-null  object
 3   scheduledday    106987 non-null  datetime64[ns]
 4   appointmentday  106987 non-null  datetime64[ns]
 5   age             106987 non-null  int64
 6   neighbourhood   106987 non-null  object
 7   scholarship     106987 non-null  bool
 8   hipertension    106987 non-null  bool
 9   diabetes        106987 non-null  bool
 10  alcoholism      106987 non-null  bool
 11  handcap         106987 non-null  bool
 12  sms_received    106987 non-null  bool
 13  showed_up       106987 non-null  bool
 14  datediff        106987 non-null  int64
dtypes: bool(7), datetime64[ns](2), float64(1), int64(3), object(2)
memory usage: 7.2+ MB

In [132]:
# Statistical Summary, Display basic statistics for numerical columns like count, mean, std, min, max, etc.
df.describe()

,patientid,appointmentid,scheduledday,appointmentday,age,datediff
count,1.069870e+05,1.069870e+05,106987,106987,106987.000000,106987.000000
mean,1.472814e+14,5.675434e+06,2016-05-08 21:18:53.330217728,2016-05-19 01:18:58.041070336,38.316085,10.166721
min,3.921784e+04,5.030230e+06,2015-11-10 00:00:00,2016-04-29 00:00:00,1.000000,-6.000000
25%,4.173523e+12,5.640490e+06,2016-04-29 00:00:00,2016-05-09 00:00:00,19.000000,0.000000
50%,3.172463e+13,5.680744e+06,2016-05-10 00:00:00,2016-05-18 00:00:00,38.000000,4.000000
75%,9.433600e+13,5.725634e+06,2016-05-20 00:00:00,2016-05-31 00:00:00,56.000000,14.000000
max,9.999816e+14,5.790484e+06,2016-06-08 00:00:00,2016-06-08 00:00:00,115.000000,179.000000
std,2.558267e+14,7.133274e+04,NaN,NaN,22.466214,15.263508

In [134]:
# Unique Value Counts, Count how many times each gender appears in the dataset.
df['gender'].value_counts()

gender
F    70118
M    36869
Name: count, dtype: int64

In [136]:
# Count how many people showed up vs. missed their appointments
df['showed_up'].value_counts()

showed_up
True     85307
False    21680
Name: count, dtype: int64

In [138]:
# Count the number of appointments per neighbourhood
df['neighbourhood'].value_counts()

neighbourhood
JARDIM CAMBURI                 7586
MARIA ORTIZ                    5563
RESISTÊNCIA                    4235
JARDIM DA PENHA                3851
ITARARÉ                        3412
                               ...
ILHA DO BOI                      35
ILHA DO FRADE                    10
AEROPORTO                         8
ILHAS OCEÂNICAS DE TRINDADE       2
PARQUE INDUSTRIAL                 1
Name: count, Length: 81, dtype: int64

In [140]:
# Date Ranges: Check the range of scheduled appointment dates
df['scheduledday'].min(), df['scheduledday'].max()

(Timestamp('2015-11-10 00:00:00'), Timestamp('2016-06-08 00:00:00'))

In [146]:
#Check the range of actual appointment dates
df['appointmentday'].min(), df['appointmentday'].max()

(Timestamp('2016-04-29 00:00:00'), Timestamp('2016-06-08 00:00:00'))

In [144]:
#Correlation Check: Show correlation between numeric columns to see how they relate to each other
df.corr(numeric_only=True)

,patientid,appointmentid,age,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,showed_up,datediff
patientid,1.000000,0.004189,-0.002970,-0.002172,-0.006155,0.001873,0.011361,-0.008748,-0.008468,0.001083,-0.000961
appointmentid,0.004189,1.000000,-0.023401,0.022379,0.012092,0.022505,0.033159,0.015006,-0.254682,0.161578,-0.772038
age,-0.002970,-0.023401,1.000000,-0.112699,0.502091,0.290631,0.090391,0.079726,0.005251,0.067025,0.038880
scholarship,-0.002172,0.022379,-0.112699,1.000000,-0.024530,-0.027622,0.033527,-0.010465,-0.000010,-0.029370,-0.030439
hipertension,-0.006155,0.012092,0.502091,-0.024530,1.000000,0.430827,0.085459,0.082909,-0.008805,0.037280,-0.016996
diabetes,0.001873,0.022505,0.290631,-0.027622,0.430827,1.000000,0.016874,0.057945,-0.016136,0.015928,-0.027339
alcoholism,0.011361,0.033159,0.090391,0.033527,0.085459,0.016874,1.000000,0.002864,-0.027403,0.000517,-0.038949
handcap,-0.008748,0.015006,0.079726,-0.010465,0.082909,0.057945,0.002864,1.000000,-0.026256,0.007620,-0.021101
sms_received,-0.008468,-0.254682,0.005251,-0.000010,-0.008805,-0.016136,-0.027403,-0.026256,1.000000,-0.127253,0.396482
showed_up,0.001083,0.161578,0.067025,-0.029370,0.037280,0.015928,0.000517,0.007620,-0.127253,1.000000,-0.185704
datediff,-0.000961,-0.772038,0.038880,-0.030439,-0.016996,-0.027339,-0.038949,-0.021101,0.396482,-0.185704,1.000000

In [150]:
# Extract the day name (e.g., Monday, Tuesday) from the 'scheduledday' column
df['scheduled_dayofweek'] = df['scheduledday'].dt.day_name()

In [159]:
print(df['scheduled_dayofweek'])

0            Friday
1            Friday
2            Friday
3            Friday
4            Friday
            ...
106982      Tuesday
106983      Tuesday
106984    Wednesday
106985    Wednesday
106986    Wednesday
Name: scheduled_dayofweek, Length: 106987, dtype: object

In [161]:
df[['scheduledday', 'scheduled_dayofweek']].head()

  scheduledday scheduled_dayofweek
0   2016-04-29              Friday
1   2016-04-29              Friday
2   2016-04-29              Friday
3   2016-04-29              Friday
4   2016-04-29              Friday

In [163]:
df['scheduled_dayofweek'].unique()

array(['Friday', 'Wednesday', 'Tuesday', 'Thursday', 'Monday', 'Saturday'],
      dtype=object)

### These are the unique days on which appointments were scheduled — no duplicates.

In [166]:
 # Extract day of the week from appointment date
# Extract the day name (e.g., Monday, Tuesday) from the 'appointmentday' column
df['appointment_dayofweek'] = df['appointmentday'].dt.day_name()

### This helps us:


Analyze trends in no-shows or attendance by day.


Understand if weekends vs. weekdays affect patient behavior.

In [169]:
df['appointment_dayofweek'].unique()

array(['Friday', 'Tuesday', 'Monday', 'Wednesday', 'Thursday', 'Saturday'],
      dtype=object)

# Calculate waiting time in days

In [172]:
# Calculate the number of days between scheduled day and appointment day
df['waiting_days'] = (df['appointmentday'] - df['scheduledday']).dt.days

In [193]:
df[['scheduledday', 'appointmentday', 'waiting_days']].head(10)

  scheduledday appointmentday  waiting_days
0   2016-04-29     2016-04-29             0
1   2016-04-29     2016-04-29             0
2   2016-04-29     2016-04-29             0
3   2016-04-29     2016-04-29             0
4   2016-04-29     2016-04-29             0
5   2016-04-27     2016-04-29             2
6   2016-04-27     2016-04-29             2
7   2016-04-27     2016-04-29             2
8   2016-04-29     2016-04-29             0
9   2016-04-27     2016-04-29             2

### Helps us understand if longer wait times lead to more no-shows.

It's a key factor in patient behavior analysis.

# Categorize Waiting Time into Bins

In [196]:
# Categorize waiting days into bins
df['waiting_category'] = pd.cut(
    df['waiting_days'],
    bins=[-1, 0, 3, 7, 30, 60, 120, df['waiting_days'].max()],
    labels=['Same Day', '1-3 Days', '4-7 Days', '8-30 Days', '31-60 Days', '61-120 Days', '120+ Days']
)

In [198]:
df[['waiting_days', 'waiting_category']].head(10)

   waiting_days waiting_category
0             0         Same Day
1             0         Same Day
2             0         Same Day
3             0         Same Day
4             0         Same Day
5             2         1-3 Days
6             2         1-3 Days
7             2         1-3 Days
8             0         Same Day
9             2         1-3 Days

In [200]:
# Create a new column 'is_weekend' to identify if the appointment day is on a weekend
df['is_weekend'] = df['appointmentday'].dt.dayofweek.isin([5, 6])

In [206]:
    df[['appointmentday', 'is_weekend']].head(10)

  appointmentday  is_weekend
0     2016-04-29       False
1     2016-04-29       False
2     2016-04-29       False
3     2016-04-29       False
4     2016-04-29       False
5     2016-04-29       False
6     2016-04-29       False
7     2016-04-29       False
8     2016-04-29       False
9     2016-04-29       False

## Summary of Task 1 - Data Cleaning and Preprocessing

In this project, we performed the following data cleaning steps:
- Checked and confirmed there were no missing values.
- Removed any duplicate rows from the dataset.
- Standardized column names (e.g., lowercase, underscores).
- Converted date columns (`scheduledday`, `appointmentday`) to datetime format.
- Extracted features like the scheduled day of the week and waiting time.
- Categorized patients based on their waiting time before appointments.
- Ensured all data types are consistent (e.g., age as int, dates as datetime, booleans converted).

### Key Insights:
- Many appointments were scheduled and attended on the same day.
- Most patients had appointments scheduled within 0–3 days.

# To create cleaned healthcare_data.csv

In [213]:
df.to_csv('cleaned_healthcare_data.csv', index=False)